#safebux {
	padding: 0px;
}

#safebux > a {
	padding: 1.25rem;
}

#safebux > a > img {
	width: 10rem;
}

#safebux > a > *:last-child {
	font-size: 1.5rem;
}

@media (min-width: 576px) {
	#safebux {
		margin-left: 1rem;
	}
}

@media (min-width: 1200px) {
	#safebux {
		margin-left: 0px;
		margin-top: auto;
	}
}
