#buy {
	position: relative;
}

#buy .card__title {
	white-space: nowrap;
}

#buy form {
	margin-bottom: 1rem;
	width: 100%;
}

#buy .btn {
	font-size: 0.5rem;
}

#buy .btn i {
	font-size: 0.75rem;
}

#buy form .input {
	font-size: 0.625rem;
	padding: 0.5rem;
}

#buy form .input:not(select) {
	max-width: calc(100% - 5.375rem);
}

#buy form select.input {
	margin-bottom: 0.5rem;
}

#buy #buy-terms {
	font-size: 0.625rem;
	font-weight: 400;
	position: absolute;
	right: 0;
	text-align: right;
	top: calc(100% + 0.5rem);
}

@media (max-width: 576px) {
	#buy {
		margin-bottom: 2.25rem;
	}
}

@media (min-width: 576px) {
	#buy form {
		padding: 1rem;
	}

	#buy form:first-child {
		padding-left: 0px;
	}

	#buy form:last-child {
		padding-right: 0px;
	}
}

@media (min-width: 992px) {
	#buy {
		width: calc(62% - 0.75rem);
	}
}

@media (min-width: 1200px) {
	#buy form {
		width: calc(33.33% - 1rem);
	}

	#buy form:nth-child(2) {
		border: 0.0625rem solid rgba(0, 0, 0, 0.125);
		border-bottom: none;
		border-top: none;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		width: calc(33.33% + 1rem);
	}
}

@supports (-ms-ime-align: auto) {
	a.btn {
		display: table;
	}

	a.btn > * {
		display: table-cell;
		vertical-align: middle;
	}

	a.btn i {
		display: inline-flex;
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	a.btn {
		display: table;
	}

	a.btn > * {
		display: table-cell;
		vertical-align: middle;
	}

	a.btn i {
		display: inline-flex;
	}
}
