#talk-to-us {
	padding: 0.75rem 1.25rem;
}

#talk-to-us .card__title {
	margin: 0px;
}

#talk-to-us > a > svg {
	height: 2.75rem;
	width: 2.75rem;
}

#talk-to-us > a > *:last-child {
	font-size: 1.5rem;
}
