main {
	padding: 2.75rem 0px;
}

.container {
	margin: 0px auto;
	max-width: 85.5rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	width: 100%;
}

.mdi {
	align-items: center;
	display: flex;
	justify-content: center;
}

.d-flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.justify-space-between {
	justify-content: space-between;
}

.title {
	color: #0a7bbd;
	font-size: 1.75rem;
	font-weight: 500;
	margin-bottom: 3.5rem;
	margin-left: 0.5rem;
	margin-top: 0;
}

.subtitle {
	align-items: center;
	color: #088bd6;
	display: flex;
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 1.5rem;
	text-transform: uppercase;
}

.subtitle::after {
	background-color: #088bd6;
	content: '';
	flex-grow: 1;
	height: 0.0625rem;
	margin-left: 1rem;
}

.value {
	background-color: #f8f8f8;
	min-height: 2rem;
	min-width: 6rem;
}

.btn {
	font-size: 0.75rem;
}

.btn i {
	font-size: 1rem;
	margin-left: 0.25rem;
}

.card {
	background-color: #fff;
	border-radius: 0.25rem;
	box-shadow: 0.125rem 0px 0.25rem #ddd;
	padding: 2rem 2.25rem;
}

.card__title {
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 0.75rem;
}

.card__subtitle {
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.375;
	margin-bottom: 1rem;
}

.group {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.group + .group {
	margin-top: 2rem;
}

.group > div,
.group .subtitle {
	padding: 0px 0.5rem;
}

.group > div {
	margin-bottom: 0.5rem;
	flex-grow: 1;
}

.group .card__subtitle {
	margin-bottom: 0.25rem;
}

.group .subtitle {
	flex-basis: 100%;
}

.color-2 {
	color: #588a62;
}

.color-success {
	color: #10ad44;
}

.color-danger {
	color: #f00;
}

.bg-1 {
	background-color: #303638;
}

@media (min-width: 576px) {
	.d-sm-flex {
		display: flex;
	}
}

@media (min-width: 768px) {
	.d-md-flex {
		display: flex;
	}

	.d-md-block {
		display: block;
	}
}

@media (min-width: 992px) {
	.d-lg-flex {
		display: flex;
	}
}

@media (min-width: 1260px) {
	.card {
		padding: 2.5rem 2.75rem;
	}
}
