.cards {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.cards > * {
	margin-bottom: 1.5rem;
}

.cards:first-child {
	margin-right: auto;
	width: calc(80% - 0.75rem);
}

.cards:first-child > *:nth-child(2n + 1) {
	width: calc(38% - 0.75rem);
}

.cards:first-child > *:nth-child(2n + 2) {
	width: calc(62% - 0.75rem);
}

.cards:last-child {
	flex-direction: column;
	justify-content: flex-start;
	width: calc(20% - 0.75rem);
}

.btn {
	margin-left: auto;
}

.money {
	font-weight: 600;
}

.badge {
	color: rgba(0, 0, 0, 0.375);
	font-size: 0.625em;
	font-weight: 700;
	margin-left: 0.25em;
	text-transform: uppercase;
}

/* begin income */

#income .money {
	align-items: baseline;
	display: flex;
	font-size: 2rem;
	margin-bottom: 1.375rem;
}

#income .money span {
	display: flex;
	font-size: 0.875rem;
}

#income .money span i {
	margin-left: 0.375rem;
	margin-right: 0.125rem;
}

#income .card__title {
	margin-bottom: 0.25rem;
}

#income .card__subtitle:not(:last-of-type) {
	margin-bottom: 0.25rem;
}

#income .btn {
	margin-top: -2rem;
}

#buy > .d-flex {
	justify-content: space-between;
}

/* end income */

/* begin buy */

#buy form {
	padding: 1rem;
	width: calc(33.33% - 1rem);
}

#buy form:first-child {
	padding-left: 0px;
}

#buy form:last-child {
	padding-right: 0px;
}

#buy form:nth-child(2) {
	border: 0.0625rem solid rgba(0, 0, 0, 0.125);
	border-bottom: none;
	border-top: none;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	width: calc(33.33% + 1rem);
}

#buy .btn {
	font-size: 0.5rem;
	margin-left: 0.375rem;
}

#buy .btn i {
	font-size: 0.75rem;
}

#buy form .input {
	font-size: 0.625rem;
	padding: 0.5rem;
}

#buy form select.input {
	margin-bottom: 0.5rem;
}

/* end buy */

/* begin transactions */

#transactions table {
	width: 90%;
}

#transactions table th,
#transactions table td {
	padding: 1rem;
	padding-left: 0px;
	padding-right: 1.5rem;
}

#transactions table th:last-child,
#transactions table td:last-child {
	width: 100%;
}

#transactions table th {
	color: rgba(0, 0, 0, 0.425);
	font-size: 0.5rem;
	font-weight: 700;
	padding-bottom: 0.5rem;
	padding-top: 0px;
	text-align: left;
	text-transform: uppercase;
}

#transactions table td {
	border-top: 0.0625rem solid rgba(0, 0, 0, 0.125);
	font-weight: 600;
}

#transactions table td:first-child {
	font-size: 0.75rem;
}

/* end transactions */

/* begin contracts */

#contracts table {
	margin-top: 1.5rem;
}

#contracts table thead {
	background-color: #f9f9f9;
	color: rgba(0, 0, 0, 0.85);
}

#contracts table th {
	font-weight: 600;
}

#contracts table th,
#contracts table td {
	font-size: 0.625rem;
	padding: 0.75rem;
	text-align: center;
}

#contracts table tbody tr:nth-child(odd) {
	background-color: #ededed;
}

#contracts table tbody tr:nth-child(even) {
	background-color: #e0e0e0;
}

/* end contracts */

#quotations {
	padding-bottom: 0.25rem;
}

#quotations #quotations-icon {
	color: rgba(0, 0, 0, 0.375);
	font-size: 2rem;
	margin-top: -1rem;
}

#quotations {
	padding-bottom: 1rem;
}

#quotations .card__subtitle {
	margin-bottom: 0px;
}

#quotations .quotation {
	border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.15);
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}

#quotations .quotation .quotation__percent {
	display: flex;
	font-size: 0.875rem;
	font-weight: 600;
}

#quotations .quotation .quotation__value {
	font-size: 0.875rem;
	font-weight: 600;
}

/* end quotations */

/* begin talk-to-us */

#talk-to-us {
	padding: 0.75rem 1.25rem;
}

#talk-to-us .card__title {
	margin: 0px;
}

#talk-to-us > a > svg {
	width: 2.75rem;
}

#talk-to-us > a > *:last-child {
	font-size: 1.5rem;
}

/* end talk-to-us */

/* begin safebux */

#safebux {
	margin-top: auto;
	padding: 1rem;
}

#safebux > a > img {
	width: 10rem;
}

#safebux > a > *:last-child {
	font-size: 1.5rem;
}

/* end safebux */
