body {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}

main {
	width: 100%;
}

.form {
	align-items: center;
	background-color: #fbfbfb;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	max-width: 24rem;
	margin: 0px auto;
	overflow: hidden;
	padding: 4rem 2rem;
	position: relative;
	width: 100%;
	z-index: 10;
}

.form #logo {
	width: 8rem;
}

.form > * {
	margin-bottom: 0.75rem;
}

.form .form__title {
	font-weight: 500;
	font-size: 1rem;
	margin-bottom: 1.875rem;
	margin-top: 2rem;
}

.form .input {
	padding: 0.875rem 1rem;
}

.form span {
	font-size: 0.75rem;
	color: #888;
}

.form span a {
	font-weight: 500;
}

.form .btn {
	border-width: 0.125rem;
	min-width: 12.5rem;
	padding: 0.625rem 1.25rem;
}

.form .btn:not(.btn--variant):not(:hover):not(:focus) {
	background-color: transparent;
}

.form .btn.btn--variant:focus,
.form .btn.btn--variant:hover {
	background-color: transparent;
}

.form .btn[type='submit'] {
	margin: 2rem 0px;
}

@media (max-width: 576px) {
	body {
		background-color: #fbfbfb;
	}
}

@media (min-width: 576px) {
	.form {
		box-shadow: 3rem 1.75rem 5rem #ddd;
		padding: 5.75rem 3rem;
	}

	.form::before,
	.form::after {
		content: ' ';
		position: absolute;
		z-index: -1;
	}

	.form::before {
		border-color: #fcfcfc transparent transparent transparent;
		border-style: solid;
		border-width: 4rem 8rem 0 0;
		left: 0;
		top: 0;
	}

	.form::after {
		border-style: solid;
		border-color: transparent transparent #f9f9f9 transparent;
		border-width: 0 0 8rem 17rem;
		bottom: 0;
		right: 0;
	}
}
